.teacher {
  padding: 91px 0 120px 0;

  &__header {
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    color: #333333;
    text-align: center;
  }

  &__subheader {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #777777;
    margin-top: 21px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
  }

  &__name {
    margin-top: 21px;
  }

  &__divider {
    margin-top: 15px;
    width: 52px;
    height: 2px;
    background: linear-gradient(140.06deg, #0863B8 4.23%, #8222BC 92.7%);
  }
}